body {
  font-family: "Inter", sans-serif;
  background-color: yellow;
}

.row {
  display: flex;
  margin: 5px auto;
}

.col-9 {
  padding: 3px;
}
.col {
  padding: 2px;
}

.buttons {
  text-align: right;
}

#city {
  font-size: 60px;
  font-weight: 550;
  margin-top: 10px;
  padding: 0px;
}

#update {
  font-size: 12px;
}

#date {
  font-size: 20px;
  font-weight: 750;
  margin: 0px;
  padding: 0px;
}

#temperature {
  font-size: 110px;
  font-weight: 700;
  display: inline;
  position: relative;
  bottom: 10px;
  left: 20px;
}

#units {
  font-size: 35px;
  position: relative;
  bottom: 66px;
  right: -12px;
}

#icon {
  position: relative;
  bottom: -16px;
  right: -93px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
li:first-letter {
  text-transform: capitalize;
}

.title-descript {
  font-weight: 750;
}

#description {
  font-size: 20px;
  font-style: italic;
}

#weekday-temp-max {
  color: red;
  font-weight: bold;
}

#weekday-temp-min {
  color: #0168d9;
  font-weight: lighter;
}

form {
  max-width: 500px;
  margin: 30px auto;
}

.weather-app-wrapper {
  max-width: 500px;
  max-height: 500px;
  margin: 5px auto;
}

#weather-app {
  padding: 20px;
  border: 1px solid #0168d9;
  border-radius: 7px;
  background-color: white;
}

#forecast {
  max-width: 500px;
  margin: 0px auto;
  padding: 0px;
}

#contained-forecast {
  padding: 10px;
  border: 1px solid #0168d9;
  border-radius: 7px;
  text-align: center;
  font-size: 18px;
  background-color: white;
}
